.deleteModalWrapper {
  position: absolute;
  left: calc(50% - 230px);
  top: calc(50% - 115px);
  width: 460px;
  height: 235px;
  box-sizing: border-box;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  padding: 24px;
  background: rgb(224 224 224);
  z-index: 1;
  .deleteModalTitle {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    text-align: initial;
  }
  .fioContainer, .cityContainer {
    display: flex;
    &:first-child {
      margin-bottom: 12px;
    }
    span {
      &:first-child {
        margin-right: 12px;
      }
    }
  }
  .btnWrapper {
    margin-top: 28px;
    button {
      width: 190px;
      height: 36px;
      background: #0aa20a;
      color: aliceblue;
      border-radius: 4px;
      cursor: pointer;
      &:first-child {
        margin-right: 30px;
      }
    }
    .secondBtn {
      background: darkgray;
    }
  }
}
